@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('./../fonts/cosmic-sans-neue-mono/OTF/CosmicSansNeueMonoBold.otf') format('opentype'), url('fonts/cosmic-sans-neue-mono/CosmicSansNeueMonoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'CosmicSansNeueMono';
        src: url('./../fonts/cosmic-sans-neue-mono/OTF/CosmicSansNeueMono.otf') format('opentype'), url('fonts/cosmic-sans-neue-mono/CosmicSansNeueMono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}